/*设置网页的主体*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 华文新魏, serif;
}

::selection {
    background: rgba(0, 0, 0, .2);
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background: #f9f9f9;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    position: absolute;
    align-items: center;
    padding: 30px 100px;
    justify-content: flex-start;
}