.popup {
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    display: none;
    overflow: auto;
    position: fixed;
}

.popup-content {
    width: 520px;
    height: 300px;
    display: flex;
    padding: 10px;
    margin: 15% auto;
    position: relative;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #888;
    flex-direction: column;
    justify-content: center;
    background-color: #fefefe;
}

#_tree, #_leaf, #_plant {
    position: absolute;
    width: 100px;
    height: auto;
    z-index: 1;
}

#_plant {
    width: 521px;
    height: auto;
    top: 14px;
    left: -1px;
}

#_leaf {
    width: 521px;
    height: auto;
    top: -1px;
    right: -1px;
}

#_tree {
    width: 800px;
    height: auto;
    top: -150px;
    left: -350px;
}

#uploadForm {
    z-index: 2;
    padding: 20px;
}

.card_text {
    padding: 10px;
    font-size: 17px;
}

.card_input {
    font-size: 17px;
    border: none;
    padding: 10px;
    background: transparent;
    border-bottom: 2px solid black;
}

#file_submit {
    z-index: 2;
    color: white;
    border: none;
    margin-top: 140px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: #003329;
    position: absolute; /* 绝对定位 */
    left: 50%; /* 水平居中 */
    transform: translateX(-50%); /* 将元素的中心对齐到父容器的50%位置 */
}

#file_submit:hover {
    transform: translateX(-50%) scale(1.1); /* 保持居中并放大 */
    background-color: #004d4d;
}


#close {
    top: 7px;
    z-index: 2;
    right: 10px;
    color: black;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    transition: transform 0.3s ease;
}

#close:hover,
#close:focus {
    color: red;
    cursor: pointer;
    transform: scale(1.2);
    text-decoration: none;
}
